src/MUMSched.AspNet/MUMSched.AspNet/obj/
src/MUMSched.AspNet/packages/
src/MUMSched.AspNet/MUMSched.AspNet/bin/
/src/MUMSched.AspNet/MUMSched.Core/obj/Debug
/src/MUMSched.AspNet/MUMSched.Data/bin/Debug
/src/MUMSched.AspNet/MUMSched.Data/obj/Debug
